.header {
  min-height: 65px;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  &.bordered {
    border-bottom: 1px solid @color-divider;
  }

  display: flex;

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .left-header {
    display: flex;
    min-width: @sidebar-width / 2;
    padding: 15px;
  }

  .right-header {
    display: flex;
    justify-content: flex-end;
    flex: 1 0;
  }

  .repo-add {
    padding: 15px;
  }

  .repo-add-plus {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    color: @gray-normal;
  }

  .bubble {
    display: block;
    position: absolute;
    width: 450px;
    height: 150px;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 1px;
    z-index: 1;
    top: 33px;
    left: -18px;
  }

  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 16px;
  }

  .gray-normal {
    background-color: @gray-normal;
  }

  .repo-add-header, .repo-add-container {
    border-bottom: @gray-lightest solid 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    .repo-add-container {
      height: 60px;
      text-align: left;
      font-size: 0.8em;
      padding-left: 10px;

    }
  }

  .repo-add-header-btn {
    color: @navy-blue;
    background-color: white;
    border: 1px solid transparent;
    border-color: #ccc;
    font-size: 11px;
    text-transform: none;
  }

  .btn-default.active, .btn-default:active, .btn-default:hover, .open > .dropdown-toggle.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:hover {
    background-color: @navy-blue !important;
    color: white !important;
  }

  .bubble:extend(.popover-content) {
    width: 475px;
    height: 155px;
    color: black;
  }

  .popover {
    max-width: none !important;
  }

}